@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>





<p>Use this page to detail your site's privacy policy.</p>

<!-- Card Container -->
<div class="container">
	<div class="section">

		<!--   Card elements  -->
		<div class="row">
			<div class="col s12 m4">
				<div class="card z-depth-5 hoverable">
					<div class="card-image">
						<img src="~/images/rework1.jpg">
						<span class="card-title">Tutorials</span>
						<a href="bloglist2.html" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
					</div>
					<div class="card-content">
						<p>The earliest known occurrences of Lorem ipsum passages are on Letraset dry-transfer sheets from early 1970s, which were produced to be used graphic designers.</p>
					</div>
					<div class="card-action">
						<a href="bloglist2.html">Read More</a>
					</div>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="card z-depth-5 hoverable">
					<div class="card-image">
						<img src="~/images/rework2.jpg">
						<span class="card-title">Projects</span>
						<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
					</div>
					<div class="card-content">
						<p>The earliest known occurrences of Lorem ipsum passages are on Letraset dry-transfer sheets from early 1970s, which were produced to be used graphic designers.</p>
					</div>
					<div class="card-action">
						<a href="#">Know More</a>
					</div>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="card z-depth-5 hoverable">
                    <div class="card-image">
						<img src="~/images/rework3.jpg">
						<span class="card-title">Other Blogs</span>
						<a href="blog.html" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
					</div>
					<div class="card-content">
						<p>The earliest known occurrences of Lorem ipsum passages are on Letraset dry-transfer sheets from early 1970s, which were produced to be used graphic designers.</p>
					</div>
					<div class="card-action">
						<a href="blog.html">Read More</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<br>
	<!-- end of card section-->
	<!-- App landing section-->
</div>




<!-- Page title and tags starts -->
<div class="center-align" style="margin-bottom: 20px;">
    <h3 style="font-weight: bold;">Tutorials</h3>
    <h6 class="grey-text text-darken-2">Find your How-to guides on Python here</h6>

    <!-- Tags -->
    <div style="margin-top: 20px;">
        <div class="chip">
            Python
        </div>

        <div class="chip">
            Tkinter
        </div>

        <div class="chip">
            GUI
        </div>
    </div> <!-- Tags End hers-->

</div>
<!-- Page title and tags end here -->
<!-- Row begins -->
<div class="row">

    <!-- Card element -->
    <div class="col s12 m4">
        <div class="card hoverable">

            <div class="card-image">
                <img src="~/images/rework3.jpg" height="150" width="150">
                <a href="blog.html" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
            </div>

            <div class="card-content">

                <p class="grey-text">28 March, 2017</p>
                <h5 style="font-weight: bold;">Top 5 things to know in python variables</h5>
                <p class=" grey-text text-darken-2">Explore these python blogs on how to code in python 3 and how to make various applications in python from scratch. We have covered python 3, Tkinter and many more things.</p>

            </div>

            <div class="card-action">
                <a href="blog.html" class="deep-orange-text">Read More</a>
            </div>

        </div> <!-- Card div ends -->
    </div> <!-- col div ends -->
    <!-- Card element -->
    <div class="col s12 m4">
        <div class="card hoverable">

            <div class="card-image">
                <img src="~/images/rework3.jpg" height="150" width="150">
                <a href="blog.html" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
            </div>

            <div class="card-content">

                <p class="grey-text">28 March, 2017</p>
                <h5 style="font-weight: bold;">Top 5 things to know in python variables</h5>
                <p class=" grey-text text-darken-2">Explore these python blogs on how to code in python 3 and how to make various applications in python from scratch. We have covered python 3, Tkinter and many more things.</p>

            </div>

            <div class="card-action">
                <a href="blog.html" class="deep-orange-text">Read More</a>
            </div>

        </div> <!-- Card div ends -->
    </div> <!-- col div ends -->
    <!-- Card element -->
    <div class="col s12 m4">
        <div class="card hoverable">

            <div class="card-image">
                <img src="~/images/rework3.jpg" height="150" width="150">
                <a href="blog.html" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
            </div>

            <div class="card-content">

                <p class="grey-text">28 March, 2017</p>
                <h5 style="font-weight: bold;">Top 5 things to know in python variables</h5>
                <p class=" grey-text text-darken-2">Explore these python blogs on how to code in python 3 and how to make various applications in python from scratch. We have covered python 3, Tkinter and many more things.</p>

            </div>

            <div class="card-action">
                <a href="blog.html" class="deep-orange-text">Read More</a>
            </div>

        </div> <!-- Card div ends -->
    </div> <!-- col div ends -->

</div> <!-- row div ends -->



