@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br/>
<br/>
<br/>
<div class="container">
    <div class="input-field blue-text">
        <i class="material-icons prefix">search</i>
        <input type="text" id="search" name="search" class="autocomplete">
        <label for="search">Search</label>

    </div>
</div>
  <div class="container">
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center">
            <div class="card">
              <div class="row">
                <div class="col s4">
                  <header class="section">
                  <img src="~/images/rework1.jpg" class="responsive-img"/>
                  </header>
                </div>
                <div class="col s8">
                  <div class="card-content">                  
                    <h4 class="card-title">Harry Potter</h4>
                    Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
                  </div>
                  <div class="card-action">
                                <a href="#" class="mdl-button"><span><i class="tiny material-icons">attach_money</i>50</span></a>
                                
                                
                  </div>
                </div>              
              </div>
            </div>
            </section>
        </div>
        </main>
</div>





<div class="container">

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">description</i>Description</div>
        <div class="collapsible-body"><span>Fabula.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">people</i>Authors</div>
        <div class="collapsible-body"><span>Imiona.</span></div>
    </li>
   
</ul>
</div>


<br/>
<br/>
<br/>


<div class="container">
    <div class="row">
        <div class="col s12 m4 l3">
            <div class="card sticky-action">
                <div class="card-image">

                    <img src="~/images/harry.jpg" class="materialboxed">
                    <span class="card-title">Liopn</span>
                    <a class="btn teal btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content w-3">
                    <p> Harry potter</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title">Oston<i class="material-icons right">close</i></span>
                    <p>Harry potter JETS FAJNY</p>
                </div>
                <div class="card-action">
                    <a> Buy it </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card sticky-action">
                <div class="card-image">

                    <img src="~/images/harry.jpg" class="materialboxed">
                    <span class="card-title">Liopn</span>
                    <a class="btn teal btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content w-3">
                    <p> Harry potter</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title">Oston<i class="material-icons right">close</i></span>
                    <p>Harry potter JETS FAJNY</p>
                </div>
                <div class="card-action">
                    <a> Buy it </a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l3">
            <div class="card sticky-action">
                <div class="card-image">

                    <img src="~/images/harry.jpg" class="materialboxed">
                    <span class="card-title">Liopn</span>
                    <a class="btn blue btn-floating halfway-fab pulse activator">+</a>
                </div>
                <div class="card-content w-3">
                    <p> Harry potter</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title">Oston<i class="material-icons right">close</i></span>
                    <p>Harry potter JETS FAJNY</p>
                </div>
                <div class="card-action">
                    <a> Buy it </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <h4>Modals</h4>


    <button class="btn red modal-trigger" data-target="terms">Normal modal</button>
    <button class="btn green modal-trigger" data-target="delete">fixed footer  modal</button>
    <button class="btn blue modal-trigger" data-target="terms2">botttom sheet  modal</button>

    <div class="modal" id="terms">

        <div class="modal-content">
            <h3>Terms and conditions</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
        </div>
        <div class="modal-footer">
            <button class="btn teal">agree</button>
            <button class="btn red modal-close">cancel</button>
        </div>
    </div>
    <!-- fixed footer modal -->
    <div class="modal modal-fixed-footer" id="delete">
        <div class="modal-content">
            <h3>Terms and conditions</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
        </div>
        <div class="modal-footer">
            <button class="btn teal">agree</button>
            <button class="btn red modal-close">cancel</button>
        </div>
    </div>
    <!-- bottom sheet modal -->
    <div class="modal bottom-sheet" id="terms2">
        <div class="modal-content">
            <h3>Terms and conditions</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
        </div>
        <div class="modal-footer">
            <button class="btn teal">agree</button>
            <button class="btn red modal-close">cancel</button>
        </div>


    </div>
</div>


