@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br/>
<br/>
<br/>
  <div class="container">
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center">
            <div class="card">
              <div class="row">
                <div class="col s4">
                  <header class="section">
                  <img src="~/images/rework1.jpg" class="responsive-img"/>
                  </header>
                </div>
                <div class="col s8">
                  <div class="card-content">                  
                    <h4 class="card-title">Harry Potter</h4>
                    Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
                  </div>
                  <div class="card-action">
                                <a href="#" class="mdl-button"><span><i class="tiny material-icons">attach_money</i>50</span></a>
                                
                                
                  </div>
                </div>              
              </div>
            </div>
            </section>
        </div>
        </main>
</div>





<div class="container">

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">description</i>Description</div>
        <div class="collapsible-body"><span>Fabula.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">people</i>Authors</div>
        <div class="collapsible-body"><span>Imiona.</span></div>
    </li>
   
</ul>
</div>