</br>
</br>
</br>
</br>






<!-- cakes card -->
<div class="container scrollspy" id="cakes">
    <h4 class="orange-text text-darken-4">Cakes</h4>
    <p class="black-text">The other day the grass was brown, now it's green because I ain't give up. Never surrender. The key is to enjoy life, because they don't want you to enjoy life. I promise you, they don't want you to jetski, they don't want you to smile. Congratulations, you played yourself.</p>
    <!-- cakes card -->
    <div class="row">
        <div class="col s12 m4 l4">
            <ul class="card hoverable">
                <li>
                    <div class="card-image">
                       <img src="~/images/harry.jpg" class="responsive-img"/>
                        <div class="right">
                            <span class="btn-floating  center-align pulse orange darken-4 waves-light waves-effect halfway-fab">
                                &hearts;
                            </span>
                        </div>
                    </div>
                
                    <div class="card-content">
                        <h5 class="orange-text text-darken-3" style="font-weight: bold;">HARRY POTTER</h5>
                        <span>Give thanks to the most high.The weather is amazing.</span>
                    </div>
               
                    <div class="card-action">
                        <a href="#">DESCRIPTION</a>
                        <a href="#">ORDER NOW</a>
                    </div>
              </li>
                
              
            </ul>
        </div>

        <div class="col s12 m4 l4">
            <ul class="card hoverable">
                <li>
                    <div class="card-image">
                        <img src="~/images/harry.jpg" class="responsive-img" />
                        <div class="right">
                            <span class="btn-floating  center-align pulse orange darken-4 waves-light waves-effect halfway-fab">
                                &hearts;
                            </span>
                        </div>
                    </div>

                    <div class="card-content">
                        <h5 class="orange-text text-darken-3" style="font-weight: bold;">HARRY POTTER</h5>
                        <span>Give thanks to the most high.The weather is amazing.</span>
                    </div>

                    <div class="card-action">
                        <a href="#">DESCRIPTION</a>
                        <a href="#">ORDER NOW</a>
                    </div>
                </li>


            </ul>
        </div>
        <div class="col s12 m4 l4">
            <ul class="card hoverable">
                <li>
                    <div class="card-image">
                        <img src="~/images/harry.jpg" class="responsive-img" />
                        <div class="right">
                            <span class="btn-floating  center-align pulse orange darken-4 waves-light waves-effect halfway-fab">
                                &hearts;
                            </span>
                        </div>
                    </div>

                    <div class="card-content">
                        <h5 class="orange-text text-darken-3" style="font-weight: bold;">HARRY POTTER</h5>
                        <span>Give thanks to the most high.The weather is amazing.</span>
                    </div>

                    <div class="card-action">
                        <a href="#">DESCRIPTION</a>
                        <a href="#">ORDER NOW</a>
                    </div>
                </li>


            </ul>
        </div>
    </div>
   
    </div>
    

        <section class="myCard">
      <div class="row">
        <div class="col s12 m12 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/item1.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator white-text"
                >Coffee Un<i class="material-icons right">more_vert</i></span
              >
            </div>
            <div class="card-reveal">
              <span class="card-title white-text"
                >Coffee un<i class="material-icons right">close</i></span
              >
              <p class="white-text">
                Here is some more information about this product that is only
                revealed once clicked on.
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/item2.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator white-text"
                >Coffee des<i class="material-icons right">more_vert</i></span
              >
            </div>
            <div class="card-reveal">
              <span class="card-title white-text"
                >Coffee des<i class="material-icons right">close</i></span
              >
              <p class="white-text">
                Here is some more information about this product that is only
                revealed once clicked on.
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/item3.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator white-text"
                >Coffee tres<i class="material-icons right">more_vert</i></span
              >
            </div>
            <div class="card-reveal">
              <span class="card-title white-text"
                >Coffee tres<i class="material-icons right">close</i></span
              >
              <p class="white-text">
                Here is some more information about this product that is only
                revealed once clicked on.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>







<div class="row">
    <div class="col s12 m4 l4">
        <div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/images/harry.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>

                <p><a href="#!">This is a link</a></p>
            </div>

            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <p class="caption">
            You can make your card-action always visible by adding the class <code class="language-markup">sticky-action</code> to the overall card.
        </p>
    </div>
    
    </div>

      
